.card-style {
  min-height: 400px;
}

.article-description {
  font-size: 1rem;
	font-weight: 100;
  margin-bottom: 20px;
}

.feature-description {
  font-size: 0.9rem;
  color: #8898aa !important;
	font-weight: 100;
}

@media screen and (max-width: 768px) {
  .card-style {
    min-height: 420px;
  }
}

.under-construction {
	width: 55%;
	margin-left: 30px;
}

.under-construction-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.under-construction-image {
  width: 140px;
}

@media screen and (max-width: 1448px) {
	.under-construction {
		margin-left: 50px;
		width: 50%;
	}
}

@media screen and (max-width: 850px) {
	.under-construction {
		width: 100%;
		margin-left: 0px;
		margin-top: 20px;
		text-align: center;
	}

	.under-construction-flex {
		flex-direction: column;
	}
}