#content pre {
	background-color: #282a36;
	color: #f8f8f2;
	padding: 20px;
	border-radius: 10px;
}

#content pre .hljs-tag {
	color: aqua;
}

#content p {
	color: #172b4d;
	font-size: 1.1rem;
	font-weight: 400;
}

#content img {
	max-width: 100%;
}

.container-article {
	width: 80%;
 	max-width: 1220px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 768px) {
	.container-article {
		width: 100%;
		padding-right: 0px;
		padding-left: 0px;
	}
}

